## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
*.userprefs

## Visual Studio
.vs/
*.sln.ide/

## JetBrains Rider
.idea/
*.sln.iml

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## OS
Thumbs.db
*.DS_Store
Desktop.ini
$RECYCLE.BIN/

## SQL
*.mdf
*.ldf

## Miscellaneous
*.log
*.tmp
*.cache
*.py
